{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'media/favicon.ico' %}">
    
    <title>{% block title %}Critic zone{% endblock title %}</title>

    <link href="{% static 'critic_zone/layout.css' %}" rel="stylesheet">
    {% block css_files %}{% endblock css_files %}

</head>
<body>

    <header id="site_header">
        <div id="div1">
            <div class="grid_center"><img id="logo" src="{% static 'media/solo_logo_transparent2.png' %}" alt=""></div>
            <a class="grid_center de_link" href="/">Critic Zone</a>
            <div class="grid_center"><div id="vertical_line"></div></div>
        </div>        
        <div id="menu">

            <!-- Create an API to get the categories to fill in this menu, min:3 , max: 5 -->

            <ul id="menu_list">
                <li class="grid_center">
                    <label>Movies</label>
                </li>
                <li class="grid_center">
                    <label>Games</label>
                </li>
                <li class="grid_center">
                    <label>Books</label>
                </li>
            </ul>

        </div>
        <div id="site_search">
            <div di="space_div"></div>
            <div id="search_div" class="grid_center">
                <input type="text">
                <div id="search_icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 487.95 487.95" style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1
                                    c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4
                                    c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z"/>
                            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                    </svg>
                </div>
            </div>
        </div>
    </header>

    {% block index_block %}{% endblock index_block %}

    <!-- <script src="{% static 'critic_zone/layout.js' %}"></script> -->
    {% block js_files %}{% endblock js_files %}

</body>
</html>